################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/gitOnetoMany/.vs/gitOnetoMany
/gitOnetoMany/gitOnetoMany/bin/Debug/net8.0
/gitOnetoMany/gitOnetoMany/obj/Debug/net8.0/ref
/gitOnetoMany/gitOnetoMany/obj/Debug/net8.0/refint
/gitOnetoMany/gitOnetoMany/obj/Debug/net8.0/staticwebassets
/gitOnetoMany/gitOnetoMany/obj/Debug/net8.0/apphost.exe
/gitOnetoMany/gitOnetoMany/obj/Debug/net8.0/gitOneto.D71C5587.Up2Date
/gitOnetoMany/gitOnetoMany/obj/Debug/net8.0/gitOnetoMany.AssemblyInfo.cs
/gitOnetoMany/gitOnetoMany/obj/Debug/net8.0/gitOnetoMany.AssemblyInfoInputs.cache
/gitOnetoMany/gitOnetoMany/obj/Debug/net8.0/gitOnetoMany.csproj.BuildWithSkipAnalyzers
/gitOnetoMany/gitOnetoMany/obj/Debug/net8.0/gitOnetoMany.csproj.CoreCompileInputs.cache
/gitOnetoMany/gitOnetoMany/obj/Debug/net8.0/gitOnetoMany.csproj.FileListAbsolute.txt
/gitOnetoMany/gitOnetoMany/obj/Debug/net8.0/gitOnetoMany.dll
/gitOnetoMany/gitOnetoMany/obj/Debug/net8.0/gitOnetoMany.genruntimeconfig.cache
/gitOnetoMany/gitOnetoMany/obj/Debug/net8.0/gitOnetoMany.MvcApplicationPartsAssemblyInfo.cache
/gitOnetoMany/gitOnetoMany/obj/Debug/net8.0/gitOnetoMany.MvcApplicationPartsAssemblyInfo.cs
/gitOnetoMany/gitOnetoMany/obj/Debug/net8.0/gitOnetoMany.pdb
/gitOnetoMany/gitOnetoMany/obj/Debug/net8.0/gitOnetoMany.sourcelink.json
/gitOnetoMany/gitOnetoMany/obj/Debug/net8.0/staticwebassets.build.json
/gitOnetoMany/gitOnetoMany/obj/Debug/net8.0/gitOnetoMany.assets.cache
/gitOnetoMany/gitOnetoMany/obj/Debug/net8.0/gitOnetoMany.GeneratedMSBuildEditorConfig.editorconfig
/gitOnetoMany/gitOnetoMany/obj/gitOnetoMany.csproj.nuget.dgspec.json
/gitOnetoMany/gitOnetoMany/obj/project.assets.json
/gitOnetoMany/gitOnetoMany/obj/project.nuget.cache
*.bin
/.gitignore
/gitOnetoMany/gitOnetoMany/obj/Debug/net8.0/gitOnetoMany.csproj.AssemblyReference.cache
/gitOnetoMany/gitOnetoMany/obj/Debug/net8.0/gitOnetoMany.csproj.AssemblyReference.cache
/.gitignore
